@{
    ViewBag.Title = "Home Page";
}

<script>
    var addMessage = function() {
        var message = {};
        message.text = $('#text').val();
        var username = $('#username').val();

        $.ajax({
            type: 'post',
            data: message,
            headers: {
                username: username
            },
            url: '@Url.Action("AddMessage")',
            success: function() {
                getMessages();
                checkCookie();
                $('#text').val(null);
            }
        });
    }

    var getMessages = function() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetMessages")',
            success: function (messages) {
                var html = '';
                messages.forEach(function (message) {
                    html +=
'<li class="list-group-item">' +
'   <span class="user-name">' + message.Username + '</span> - ' +
'   <span class="message-datetime">' + new Date(parseInt(message.CreationDateTime.substr(6))).toLocaleString() + '</span>: ' + message.Text +
'</li>';
                });

                $('#messages').html(html);
            }
        });
    }

    var checkCookie = function() {
        var token = Cookies.get('authorization');
        if (token) {
            var tokenPayLoad = jwt_decode(token);
            if (tokenPayLoad.Username) {
                $('#username').val(tokenPayLoad.Username);
                $('#username').prop('readonly', true);
            }
        }
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul id="messages" class="list-group">
                        <li>No messages</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <input type="text" placeholder="Username" id="username" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Text" id="text" />
                        </div>
                        <button class="btn btn-default" onclick="addMessage();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jwt-decode.min.js"></script>
<script src="~/Scripts/js.cookie.js"></script>
<script>
    checkCookie();
    getMessages();
</script>