@model DataModel.Common.Page<DataModel.Enities.Message>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var message in Model.Data)
                        {
                            <li class="list-group-item">
                                <span class="user-name">@message.User.Name</span> - <span class="message-datetime">@message.CreationDateTime</span>: @message.Text
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>