@model IList<DataModel.Enities.Message>
@{
    ViewBag.Title = "Home Page";
}

<script>
    var addMessage = function() {
        var message = {};
        message.text = $("#text").val();
        message.username = $("#username").val();

        $.ajax({
            type: 'post',
            data: message,
            url: '@Url.Action("AddMessage")',
            success: function() {
                window.location.reload(false);
            },
            error: function(jqXhr, textStatus) {
                alert(textStatus);
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var message in Model)
                        {
                            <li class="list-group-item">
                                <span class="user-name">@message.User.Name</span> - <span class="message-datetime">@message.CreationDateTime</span>: @message.Text
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <input type="text" placeholder="Username" id="username" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Text" id="text" />
                        </div>
                        <button class="btn btn-default" onclick="addMessage();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>