@{
    ViewBag.Title = "Home Page";
}

<script>
    var addMessage = function() {
        var message = {};
        message.text = $('#text').val();
        var username = $('#username').val();

        $.ajax({
            type: 'post',
            data: message,
            headers: {
                username: username
            },
            url: '@Url.Action("AddMessage")',
            success: function() {
                getMessages();
                checkCookie();
                $('#text').val(null);
            }
        });
    }

    var getMessages = function() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetMessages")',
            success: function (messages) {
                var html = '';
                messages.forEach(function (message) {
                    html +=
'<li class="list-group-item">' +
'<div class="user-name">' + message.Username + '</div>' +
'<div class="message-datetime">' +
    new Date(parseInt(message.CreationDateTime.substr(6))).toLocaleString() + '</div> ' +
'<div class="message-datetime"> Text: ' + message.Text + '</div>' +
'</li>';
                });

                $('#messages').html(html);
            }
        });
    }

    var checkCookie = function() {
        var token = Cookies.get('authorization');
        if (token) {
            var tokenPayLoad = jwt_decode(token);
            for (var field in tokenPayLoad) {
                if (tokenPayLoad.hasOwnProperty(field)) {
                    if (field.includes('username')) {
                        $('#username').val(tokenPayLoad[field]);
                        $('#username').prop('readonly', true);
                        break;
                    }
                }
            }
        }
    }
</script>

<div class="row m-t-20">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="username"
                            class="form-control"
                            placeholder="Username"
                        />
                    </div>
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="text"
                            class="form-control"
                            placeholder="Text"
                        />
                    </div>
                    <button
                        class="btn btn-primary"
                        onclick="addMessage();"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <ul id="messages" class="list-group">
            <li>No messages</li>
        </ul>
    </div>
</div>

<script src="~/Scripts/jwt-decode.min.js"></script>
<script src="~/Scripts/js.cookie.js"></script>
<script>
    checkCookie();
    getMessages();
</script>